html, body { 
    height: inherit;
    background: linear-gradient(120deg, rgb(122, 102, 71) 0%, rgb(231, 209, 175) 50%, rgb(124, 114, 98) 100%);
}
.maincontent {
    background-color: rgba(182, 171, 157, 0.644);
    position: absolute;
    width: 500px;
    height: inherit;
    top: calc(50% - 300px);
    left: calc(50% - 250px);

    padding: 20px;
    margin-bottom: 100px;
    

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-self: center;

    border-radius: 10px;
    box-shadow: 2.5px 2.5px 15px 2.5px rgb(124, 114, 98);
}
.maincontent.show {
    background-color: dimgray;
}

.inputField {
    padding: 20px;
    height: inherit;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 5px;
    border: lavenderblush;
    border-radius: 10px;
    background-color: rgb(242, 245, 239);
    
}

.combinedField{
    width: 100%;

    display: flex;
    flex-direction: row;
}

#inputCombinedSlider{
    flex-direction: column;
}
#inputCombinedFuel, #inputCombinedNewCat  {
    flex-wrap: wrap;
    row-gap: 20px;
}


#newContent { 
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: inherit;

    backdrop-filter: blur(20px);
    z-index: -5;
    opacity: 0;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-self: center;
}

#newContent.show{
    display: block;
    opacity: 1;
    z-index: 5;

    border-bottom-style: solid;
    border-width: 4px;
    border-radius: 10px;

}

.btn {
    height: 75px;
    max-width: 100%;
    min-width: 45%;

    margin-left: 10px;
    margin-right: 10px;

    border-radius: 10px;
    background-color: ivory;
    box-shadow: 2.5px 2.5px 15px 2.5px rgb(124, 114, 98);
    text-align: center;

    transition: 0.25s ease-out;
}
.btn.isChecked {
    background-color: rgb(93, 155, 85);
}

#newfuelbtn {
    flex-wrap: wrap;
    padding: 10px;
    row-gap: 20px;
}

#infotext {
    font-size: 0.5rem;
}

.staticinfo {
    text-align: center;
}

.staticinfo {
    width: 25%;
}

.slider {
    width: 75%;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 50px;
    width: 25%;
    margin: 10px;

    border-radius: 10px;
    background-color: ivory;
    box-shadow: 2.5px 2.5px 15px 2.5px rgb(124, 114, 98);

    text-align: center;
}