
.background {
    position: absolute;
    transition: 0.3s ease-out;
}

#bl1 {
    fill: rgb(102, 91, 80);
    filter: blur(15px);
}

#bl2 {
    fill: rgba(80, 64, 50, 0.75);
    filter: blur(5px);
}

#svg-wrapper {
    position: absolute;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 1000px;

    overflow: hidden;
}

.svg {
    position: absolute;
    left: 0px;
    right: 0px;
    height: calc(100% - 20px);
}
.objectloader {
    pointer-events: none;
}
.catIcon {
    position: absolute;
    pointer-events: none;

    left: 15px;
    height: calc(100% - 20px);
    
    fill: rgb(49, 49, 49);
    transition: 0.25s ease-out;
}
.btn:hover .catIcon {
    height: calc(100% + 10px);
}

#femaleSvg, #maleSvg {
    transition: 0.25s ease-out;
}
.btn:hover #femaleSvg {
    fill: rgb(102, 45, 139);
}

.btn:hover #maleSvg {
    fill: rgb(42, 111, 167);
}

#svg-wrapper {
    position: absolute;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 1000px;

    overflow: hidden;
}